html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* Made with this tool : https://cssgradient.io/ */

.gradient {
  background: rgb(64, 0, 123);
  background: linear-gradient( 90deg, rgba(64, 0, 123, 1) 35%, rgba(48, 0, 255, 1) 100%);
}

.page-header {
  margin-top: 4rem;
  margin-bottom: 0em;
  padding-top: 2rem;
  ;
}

/* Adapt the buttons for the background */
.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

/* Adapt the buttons for the background */
.btn-outline-warning {
  color: #fff;
  border-color: #fff;
}

/* Adapt the buttons for the background */

.btn-outline-danger {
  color: #fff;
  border-color: #fff;
}

.icon {
  color: #fff;
  height: 4rem;
  width: 4rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon:hover {
  opacity: 0.6;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}